




<br><br><br><br>
<app-cat-nav></app-cat-nav>
<!-- <div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a routerLink='/All' routerLinkActive='active' >
                <img  style="width: 62px; margin-top: 5px;"src="assets/images/apple.png" alt="">
                <h6 >All </h6>
            </a>
        </div>
        <div class="item">
            <a routerLink='/category/1' routerLinkActive='active' >
                <img style="width: 62px; margin-top: 5px;" src="assets/images/iphone.png" alt="">
                <h6>Iphone</h6>
            </a>
        </div>
        <div class="item">
            <a routerLink='/category/2' routerLinkActive='active'>
                <img style="width: 62px; margin-top: 5px;" src="assets/images/ipad.png"  alt="">
                <h6>Ipad</h6>
            </a>
        </div>
        <div class="item">
            <a routerLink='/category/3' routerLinkActive='active'>
                <img style="width: 62px; height: 62px; margin-top: 5px;"  src="assets/images/applewatch1.png" alt="">
                <h6>Watch</h6>
            </a>
        </div>
        <div class="item">
            <a  routerLink='/category/4' routerLinkActive='active' >
                <img style="width: 62px; margin-top: 5px;" src="assets/images/airpots.png"  alt="">
                <h6>Accessories</h6>
            </a>
        </div>
    </div>





<!-- <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory >
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </ng-container>

    </div>
</div> --> 